@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.placeholder {
  width: 100%;
  height: 100vh;
  background: url(../css/studio.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
}

.content-area{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  text-align: center;
}

.nav-link {
  color: rgb(255, 255, 255);
}

.nav-item {
  color: white;
  position: center;
  font-family: Spartan;
  font-size: 17px;
  font-weight: 100;
  background-color: rgba(82, 82, 82, 0.781);
}

h1 {
  color: white;
  font-family: Spartan;
  font-size: 300;
  font-weight: 100;
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: rgba(82, 82, 82, 0.781);
}

h2 {
  color: white;
  font-family: Spartan;
  font-size: 1em;
  font-weight: 50;
  display: inline-block;
  width: 100%;
  padding: 8px;
  background-color: rgba(82, 82, 82, 0.781);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.menu input[type=text] {
  float: right;
  padding: 6px;
  border: ;
  margin-top:;
  margin-right: 16px;
  font-size: 17px;
}

